@import './mixin.scss';

$bg-main: #f1f1f1;
$fontMain: "Raleway";
$colorMainFont: #262633;

*{
  font-family: $fontMain;
  color: $colorMainFont
}

.hide{
  display: none;
}

.show{
  display:block;
}

.section{
  min-height:auto;
}

.events-blocked{
  pointer-events: none;
}

.header {
  padding: 15px 0 45px 0;

  // .header__container-box

  &__container-box {
    position: relative;
    font-size: 18px;
  }

  // .header__filter-wrapper

  &__filter-wrapper {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    // .header__filter-lable

  &__filter-lable{
    display: block;
  }

  // .header__filter

  &__filter {
    padding: 12px 13px;
    color: black;
    border-radius: 17px;
    background-color: rgba(180, 184, 204, 0.14);
    font-size: 18px;

    &:active{
      border: solid black 1px;
    }

    // .header__filter_product

    &_product {
    }

    // .header__filter_price

    &_price {
    }

    // .header__filter_brand

    &_brand {
    }
  }

  // .header__input-wrapper

  &__input-wrapper {
    margin-top: 15px;
  }

  // .header__input

  &__input {
    display: inline-block;
    margin-right: 20px;
    padding: 9px 10px;
    border: 1px solid black;
    border-radius: 17px;
    font-size: 17px;

    &:focus-visible{
      outline: none;
    }
  }

  // .header__input-button

  &__input-button {
    display: inline-block;
    padding: 12px 13px;
    color: black;
    border-radius: 16px;
    background-color: rgba(180, 184, 204, 0.14);
    font-size: 17px;
    text-transform: lowercase;
  }

  // .header__input-suggest-list

  &__input-suggest-list {
  }

  &__warning{
    position: absolute;
    font-size: 19px;
    color: red;
    left: 25px;
    top: 110px;
  }
}

.list-products {

		// .list-products__container-box

		&__container-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 30px;
		}

    &__product{
      width: 26%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    &__product-name{
      font-size: 15px;
      font-weight: 500;
    }

    &__product-brand{
      font-size: 13px;
    }

    &__product-price{
      font-size: 20px;
      font-weight: 600;
      font-variant-numeric: lining-nums;
      text-align: end;
    }

    &__product-id{
      font-size: 13px;
      font-weight: 400;
      font-variant-numeric: lining-nums;
      text-align: end;
    }
}

.footer {

		// .footer__container-box

		&__container-box {
      display: flex;
      align-items: center;
		}

		// .footer__pagination-arrow

		&__pagination-arrow {

      color: black;
      padding: 2px 13px;
      border: solid black 1px;
      border-radius: 11px;

			// .footer__pagination-arrow_back-page

			&_back-page {
			}

			// .footer__pagination-arrow_ahead-page

			&_ahead-page {
			}
		}

		// .footer__pagination

		&__pagination {
      display: flex;
      align-items: center;
		}

		// .footer__pagination-item

		&__pagination-item {

      color: black;
      padding: 2px 13px;
      border: solid black 1px;
      border-radius: 11px;

			// .footer__pagination-item_first

			&_first {
			}

			// .footer__pagination-item_second

			&_second {
			}

			// .footer__pagination-item_third

			&_third {
			}

			// .footer__pagination-item_fourth

			&_fourth {
			}

			// .footer__pagination-item_fifth

			&_fifth {
			}
		}
}
